# dependencies
node_modules/
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Expo
.expo/
.expo-shared/

# Android / iOS
*.apk
*.keystore

# IDEs
.vscode/
.idea/

# Firebase config
firebase-debug.log

# build output
dist/
build/
